.deps/
.libs/
Makefile
aclocal.m4
build-stamp
config.guess
config.log
config.status
config.sub
configure
debian/files
debian/*.debhelper.log
debian/*.install
debian/*.debhelper
debian/*.substvars
debian/libsqlite3-0/
debian/libsqlite3-dbg/
debian/libsqlite3-dev/
debian/sqlite3/
debian/tmp/
depcomp
*.la
libtool
ltmain.sh
missing
*.o
sqlite3
*.lo
*.pc

